[submodule "MemoOff9/MemoOff9"]
	path = MemoOff9/MemoOff9
	url = https://github.com/cokkeijigen/MemoOff9
	branch = master
[submodule "CircusEngine/MesTextTool"]
	path = CircusEngine/MesTextTool
	url = https://github.com/cokkeijigen/MesTextTool.git
	branch = master
[submodule "CircusEngine/CircusEnginePatchs"]
	path = CircusEngine/CircusEnginePatchs
	url = https://github.com/cokkeijigen/circus_engine_patchs.git
	branch = master
[submodule "UnityEngine/lostsmile_cn"]
	path = UnityEngine/lostsmile_cn
	url = https://github.com/cokkeijigen/lostsmile_cn
	branch = master
[submodule "UnityEngine/GS3IL2CPPForSwitch"]
	path = UnityEngine/GS3IL2CPPForSwitch
	url = https://github.com/cokkeijigen/GS3IL2CPPForSwitch.git
	branch = master
[submodule "UnityEngine/kamiiro_no_otome"]
	path = UnityEngine/kamiiro_no_otome
	url = https://github.com/cokkeijigen/kamiiro_no_otome.git
	branch = master
[submodule "UnityEngine/mono_tool"]
	path = UnityEngine/mono_tool
	url = https://github.com/cokkeijigen/mono_tool.git
	branch = master
[submodule "YukaScriptTool/YukaScriptTool"]
	path = YukaScriptTool/YukaScriptTool
	url = https://github.com/cokkeijigen/YukaScriptTool.git
	branch = master
[submodule "ValkyriaTools/ValkyriaTools"]
	path = ValkyriaTools/ValkyriaTools
	url = https://github.com/cokkeijigen/ValkyriaTools.git
	branch = master

[submodule "Other/dpm_unpack"]
	path = Other/dpm_unpack
	url = https://github.com/cokkeijigen/dpm_unpack.git
	branch = master
[submodule "Other/doko_iku_cn"]
	path = Other/doko_iku_cn
	url = https://github.com/cokkeijigen/doko_iku_cn.git
	branch = master
[submodule "Other/amatsutsumi_android"]
	path = Other/amatsutsumi_android
	url = https://github.com/cokkeijigen/amatsutsumi_android.git
