[submodule "MemoOff9/MemoOff9"]
	path = MemoOff9/MemoOff9
	url = https://github.com/cokkeijigen/MemoOff9
	branch = master
[submodule "CircusEngine/MesTextTool"]
	path = CircusEngine/MesTextTool
	url = https://github.com/cokkeijigen/MesTextTool.git
	branch = master
[submodule "CircusEngine/CircusEnginePatchs"]
	path = CircusEngine/CircusEnginePatchs
	url = https://github.com/cokkeijigen/circus_engine_patchs.git
	branch = master
